
@{
    ViewBag.Title = "体重走势";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/plugins/Echarts/echarts.common.min.js"></script>
<div class="container-fluid" style="margin-top:30px;">
    <div class="row searchDiv" style="margin-bottom:10px;">
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 searchDivLeft">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" id="add">
                    <i class="glyphicon glyphicon-plus"></i>
                    添加
                </button>
            </div>
        </div>
    </div>
    <div class="row">
      
    </div>
</div>
<script src="~/Content/WeightRecord/WeightRecord.js"></script>
<script type="text/javascript">

</script>
