@model MyBlog.Entities.Tags

@{
    ViewBag.Title = "AddOrEdit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Scripts/plugins/jquery.validate/validation.css" rel="stylesheet" />
<div class="container-fluid" style="margin-top:40px;">
    <form id="addOrEditTag">
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.Id" id="id" />
        <div class="row form-group">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <span>名称：</span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <input type="text" class="form-control" id="tagName" name="tagName" placeholder="请输入标签名称" value="@Model.Name" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5">
                <input type="button" value="提交" id="btn_submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<script src="~/Content/TagsManage/addOrEdit.js"></script>