<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>后台管理</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/layer/layer.js"></script>
    <script src="~/Scripts/plugins/jquery.validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/plugins/jquery.validate/localization/messages_zh.js"></script>
    <script src="~/Scripts/plugins/moment/moment.js"></script>
    <script src="~/Scripts/common.js"></script>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
