
@{
    ViewBag.Title = "AddOrEditArticle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Scripts/plugins/editor.md/css/editormd.min.css" rel="stylesheet" />
<link href="~/Scripts/plugins/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/editor.md/editormd.min.js"></script>
<script src="~/Scripts/plugins/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
<div class="container-fluid" style="margin-top:20px;">
    <form>
        <div class="row form-group">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <span>标题：</span>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                <input type="text" class="form-control" id="title" placeholder="请输入博客标题" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <span>分类：</span>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                <select class="selectpicker form-control" multiple="multiple" data-live-search="true">
                  
                </select>
            </div>
        </div>
          <div class="row form-group">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <span>标签：</span>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                <select class="selectpicker form-control" multiple="multiple" data-live-search="true">

                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <span>内容：</span>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                <div id="editormd">

                </div>
            </div>

        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        var testEditor = editormd("editormd", {
            width: "100%",
            height: 450,
            path: '/Content/editor.md/lib/',
            emoji: true,
            taskList: true,
            tocm: true,         // Using [TOCM]
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/Common/FileUpload",
            //上传的后台只需要返回一个 JSON 数据，结构如下：
            // {
            //    success: 0 | 1,           // 0 表示上传失败，1 表示上传成功
            //    message: "提示的信息，上传成功或上传失败及错误信息等。",
            //    url: "图片地址"        // 上传成功时才返回
            //}
            onresize: function () {
                //this.setMarkdown("state.loaded > bind onresize > window.onresize, editormd watch/unwatch/fullscreen/fullscreenExit/toolbar show|hide " + (new Date).getTime());
                //console.log("onresize =>", this, this.id, this.settings);
            }
        });
    });

</script>

