
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
        <div style="" id="mainContent">
            @Html.Action("BlogList", "Blog")
        </div>
    </div>
</div>


