@{
    Layout = null;
    var tags = ViewBag.Tags as List<MyBlog.Entities.Tags>;
    if (tags == null)
    {
        tags = new List<MyBlog.Entities.Tags>();
    }
    var classifies = ViewBag.Classifies as List<MyBlog.Entities.Classify>;
    if (classifies == null)
    {
        classifies = new List<MyBlog.Entities.Classify>();
    }
}
<div class="panel panel-info">
    <div class="panel-heading">
        <span>公告</span>
    </div>
    <div class="panel-body" style="padding:15px; text-indent:2em  ">
        <p>暂无公告。。。 </p>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <span>我的标签</span>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @foreach (var item in tags)
            {
                <li class="list-group-item"><a href="/Tag/Index/@item.Id">@item.Name</a></li>
            }
        </ul>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <span>文章分类</span>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @foreach (var item in classifies)
            {
                <li class="list-group-item"><a href="/Category/Index/@item.Id">@item.Name</a></li>
            }
        </ul>
    </div>
</div>
