@{
    Layout = null;
}

<div class="panel panel-info">
    <div class="panel-heading">
        <span>公告</span>
    </div>
    <div class="panel-body" style="padding:15px; text-indent:2em  ">
        <p> </p>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <span>我的标签</span>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">ASP.NET</li>
            <li class="list-group-item">Bootstrap</li>
            <li class="list-group-item">Vue</li>
        </ul>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <span>文章分类</span>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><a>ASP.NET</a></li>
        </ul>
    </div>
</div>
