
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-9  col-md-9 col-sm-9 col-xs-12">
        <div style="" id="mainContent">
            <h4 style="border-bottom:1px solid silver; padding-bottom:4px;">当前标签：@ViewBag.TagName</h4>
        </div>
    </div>
    <div class="col-lg-3  col-md-3 col-sm-3 col-xs-12">
        <div id="sideBar">
            @Html.Action("SideBar", "Common")
        </div>
    </div>
</div>

