
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/plugins/layer/layer.js"></script>
    <style>
        .container {
            margin-top: 40px;
        }

        .form-bg {
            background: #18BC9D !important;
        }

        .form-horizontal {
            background: #fff;
            padding-bottom: 40px;
            border-radius: 15px;
            text-align: center;
        }

            .form-horizontal .heading {
                display: block;
                font-size: 25px;
                font-weight: 700;
                padding: 25px 0;
                border-bottom: 1px solid #f0f0f0;
                margin-bottom: 20px;
            }

            .form-horizontal .form-group {
                padding: 0 40px;
                margin: 0 0 25px 0;
                position: relative;
            }

            .form-horizontal .form-control {
                background: #f0f0f0;
                border: none;
                border-radius: 20px;
                box-shadow: none;
                padding: 0 20px 0 45px;
                height: 40px;
                transition: all 0.3s ease 0s;
            }

                .form-horizontal .form-control:focus {
                    background: #e0e0e0;
                    box-shadow: none;
                    outline: 0 none;
                }

            .form-horizontal .form-group i {
                position: absolute;
                top: 12px;
                left: 60px;
                font-size: 17px;
                color: #c8c8c8;
                transition: all 0.5s ease 0s;
            }

            .form-horizontal .form-control:focus + i {
                color: #00b4ef;
            }

            .form-horizontal .fa-question-circle {
                display: inline-block;
                position: absolute;
                top: 12px;
                right: 60px;
                font-size: 20px;
                color: #808080;
                transition: all 0.5s ease 0s;
            }

                .form-horizontal .fa-question-circle:hover {
                    color: #000;
                }

            .form-horizontal .btn {
                width: 100%;
                font-size: 14px;
                color: #fff;
                border-radius: 30px;
                padding: 10px 25px;
                border: none;
                text-transform: capitalize;
                transition: all 0.5s ease 0s;
            }

        @@media only screen and (max-width: 479px) {
            .form-horizontal .form-group {
                padding: 0 25px;
            }

                .form-horizontal .form-group i {
                    left: 45px;
                }

            .form-horizontal .btn {
                padding: 10px 20px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div style="margin:0 auto;max-width:400px;">
            <div class="row">
                <div class=" col-md-12">
                    <form class="form-horizontal form-bg">
                        <span class="heading">用户登录</span>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="请输入用户名">
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                        <div class="form-group help">
                            <input type="password" class="form-control" id="password" placeholder="请输入密码">
                            <i class="glyphicon glyphicon-lock"></i>
                        </div>
                        <div class="form-group">
                            <button type="button" id="btn_login" class="btn btn-warning">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $(function () {
            $("#btn_login").click(function () {
                var name = $("#name").val();
                var password = $("#password").val();
                if (!name) {
                    layer.msg("用户名不能为空");
                    return;
                }
                if (!password) {
                    layer.msg("密码不能为空");
                    return;
                }
                $.ajax({
                    url: "/Login/CheckLogin",
                    type: "POST",
                    data: { name: name, password: password },
                    success: function (data) {
                        if (data.success) {
                            window.location.href = "/Admin/Home";
                        } else {
                            layer.msg(data.message);
                        }
                    }
                })
            });
        });
    </script>
</body>
</html>
